.itineraries-page-container {
  padding: 30px;
}

.top-actions {
  margin-bottom: 25px;
}

.create-itinerary-btn {
    background-color: #2563eb; 
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-itinerary-btn:hover {
    background-color: #1d4ed8; 
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.create-itinerary-btn:active {
    transform: scale(0.97);
}


.cards-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center; 
}


/* MINI CREATE COMPOSER */
.mini-create-box {
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 18px 20px;
    border-radius: 14px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 30px auto;
    cursor: pointer;
    transition: 0.2s ease;
}

.mini-create-box:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    transform: translateY(-2px);
}

.mini-create-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mini-photo-placeholder {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.mini-create-text {
    color: #6b7280;
    font-size: 16px;
}

.mini-create-btn {
    background-color: #2563eb;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.mini-create-btn:hover {
    background-color: #1e40af;
}
